* {
    background-color: black;
    color: white;
}

body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid white;
    margin: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.flash {
    background-color: white;
}

.user_flash {
    background-color:black
}